
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1><a href="/">Local News</a></h1>
			<div class="header-buttons">
				
				{{#if authorised}}
					<a href="/news/add">Add news</a>
					<a href="/logout">Log out</a>
				{{else}}
					<a href="/login">Log in</a>
				{{/if}}
			</div>
		</header>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
	<main class="article-page">
		{{#if admin}}
			<aside>
				<div>	
					{{#if (eq article.status "pending")}}
					<form action="/news/release/{{article.id}}" method="POST">
						<button type="submit" class="admin release">Mark as released</button>
					</form>
          {{/if}}
          <form action="/news/revise/{{article.id}}" method="POST">
            <button class="admin revision">Mark for revision</button>
          </form>
				</div>
			</aside>
		{{/if}}
    {{#if owner}}
      <button class="edit"><a href="/news/add/{{article.id}}">EDIT</a></button>  
    {{/if}}
		<div class="article">
			<h1>{{article.title}}</h1>
			<div class="sub-heading">
				<h4>by {{article.user}}</h4>
				<h5>{{article.dateAdded}}</h5>
			</div>
			<img src="../images/{{article.photo}}"></img>
			<div class="article-body">{{article.article}}</div>
		</div>
		
	</main>
	</body>
</html>
