<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Home Page</title>
	<meta name="description" content="form to add new books">
	<meta name="author" content="Mark Tyers">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="module" src="main.js"></script>
</head>

<body>
	<header>
		<h1><a href="/">Local News</a></h1>
    <button id="hamburger"><i class="fa fa-bars"></i></button>
      <ul>
        {{#if admin}}
        <li><a href="/news/pending">Pending</a></li>
			{{/if}}
			{{#if authorised}}
         <li><a href="/users/{{userid}}">User news</a></li>
         <li><a href="/news/add">Add news</a></li>
         <li><a href="/logout">Log out</a></li>
			{{else}}
         <li><a href="/login">Log in</a></li>
         <li><a href="/register">Register</a></li>
			{{/if}}
      </ul>	
	</header>
	<div class="msg">
		{{#if msg}}
		<p>{{msg}}</p>
		{{/if}}
	</div>
	<div class="home-body">
		<aside>
			<div class="leaderboards">
				<div class="title-bar">
					<h3>Leaderboards</h3>
					<button type="button" class="toggle-btn">-</button>
				</div>
				<div class="table-container">
					<div class="header">
						<p>User</p>
						<p>Points</p>
					</div>
					{{#each leaders}}
					<div class="leader-row">
						<p>{{this.name}}</p>
						<p>{{this.points}}</p>
					</div>
					{{/each}}
				</div>
			</div>
		</aside>
		<main>
			<div class="feed">
				{{#each news}}
				<article>
					<h2><a href="/news/{{this.id}}">{{this.title}}</a></h2>
					<p class="date">{{this.dateAdded}}</p>
					<img src="images/{{this.photo}}"></img>
				</article>
				{{/each}}
			</div>
		</main>
	</div>
</body>

</html>