
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
			<h1><a href="/">Local News</a></h1>
			<div class="header-buttons">
				{{#if authorised}}
					<a href="/secure">Add news</a>
					<a href="/logout">Log out</a>
				{{else}}
					<a href="/login">Log in</a>
				{{/if}}
			</div>
		</header>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
	<main>
		<p>This is the home page. Users can see it without logging in.</p>
		<div class="feed">
			{{#each news}}
				<div class="article">
					<h2>{{this.title}}</h2>
					<p>{{this.dateAdded}}</p>
					<p>{{this.article}}</p>
					<img src="images/{{this.photo}}"></img>
				</div>
			{{/each}}
		</div>
		
	</main>
	</body>
</html>
