<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Create an Account</title>
	<meta name="description" content="form to add new books">
	<meta name="author" content="Mark Tyers">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<header>
		<h1>Create an Account</h1>
		<a href="/login">Log in</a>
	</header>
	{{#if msg}}
	<p class="msg">{{msg}}</p>
	{{/if}}
	<main>
		<form action="/register" enctype="multipart/form-data" method="post">
			<div class="input">
				<label for="user">Username</label><br />
				<input required type="text" name="user" placeholder="your preferred username (no spaces)"
					value="{{body.user}}">
			</div>
			<div class="input">
				<label for="pass">Password</label><br />
				<input required type="password" name="pass" placeholder="your chosen password" value="{{body.pass}}">
			</div>
			<div class="input">
				<label for="email">Email</label><br />
				<input required type="email" name="email" placeholder="a valid email address" value="{{body.email}}">
			</div>
			<div class="input">
				<label for="subscribed">Subscribe to daily news</label><br />
				<input type="checkbox" name="subscribed" id="subscribed">
			</div>
			<p><input type="submit" value="Create"></p>
		</form>
	</main>
</body>

</html>